<!-- Create a new user form by Ethan -->
  <form action="/users/create" method="POST" class="user_news">
    <h3>New User</h3>
    <p>First name: <input type="text" name="first_name"/></p>
    <p>Last name: <input type="text" name="last_name"/></p>
    <p>Username: <input type="text" name="username"/></p>
    <p>Bio:<br>
      <textarea name="bio"></textarea></p>
    <button action="submit">Add user</button>
  </form>